.DS_Store
*.tdo
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
main.pdf
These-Doctorat_AG_*.pdf
*.sublime-workspace
*.sublime-project
